.loader {
  width: 3em;
  height: 3em;
  display: inline-block;
  position: relative;
  border: 2px solid theme("colors.primary-600");
  animation: rotation 2s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border: 2px solid theme("colors.primary-500");
  width: 2.375em;
  height: 2.375em;
  animation: rotationBack 1.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 1.75em;
  height: 1.75em;
  border-color: theme("colors.primary-400");
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
