@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Cabin", sans-serif;
  }

  body {
    background-color: theme("backgroundColor.slate.100");
    color: theme("textColor.slate.500");
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto Condensed", sans-serif;
    color: theme("textColor.slate.800");
    text-wrap: balance;
  }
}

@layer components {
  .app {
    min-block-size: 100dvh;
    inline-size: min(70rem, 90%);
    margin-inline: auto;
  }

  .button {
    @apply text-xl capitalize;
    @apply rounded-md drop-shadow-sm;
    transition-property: background-color, box-shadow;
    transition-duration: 100ms;
    padding: 0.25em 1em;
  }

  .button--primary {
    @apply text-white bg-blue-500;
    @apply hover:bg-blue-600 hover:drop-shadow-md;
  }

  .loader {
    display: block;
    position: relative;
    height: 32px;
    width: 120px;
    border-bottom: 5px solid #fff;
    box-sizing: border-box;
    animation: balancing 2s linear infinite alternate;
    transform-origin: 50% 100%;
  }
  .loader:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #ff3d00;
    animation: ballbns 2s linear infinite alternate;
  }
  .loader:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 20px;
    width: 20px;
    transform: translate(-50%, 100%);
    border-radius: 50%;
    border: 6px solid #fff;
  }
  @keyframes ballbns {
    0% {
      left: 0;
      transform: translateX(0%);
    }
    100% {
      left: 100%;
      transform: translateX(-100%);
    }
  }
  @keyframes balancing {
    0% {
      transform: rotate(-15deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(15deg);
    }
  }
}
