@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Cabin", sans-serif;
  }

  body {
    background-color: theme("backgroundColor.slate.100");
    color: theme("textColor.slate.500");
    @apply tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto Condensed", sans-serif;
    color: theme("textColor.slate.800");
    text-wrap: balance;
  }
}

@layer components {
  .app-container {
    min-block-size: 100dvh;
    inline-size: min(70rem, 90%);
    margin-inline: auto;
  }

  .button {
    @apply text-xl capitalize;
    @apply rounded-md drop-shadow-sm;
    transition-property: background-color, box-shadow;
    transition-duration: 100ms;
    padding: 0.25em 1em;
  }

  .button--primary {
    @apply text-white bg-blue-500;
    @apply hover:bg-blue-600 hover:drop-shadow-md;
  }

  .button--block {
    display: block;
    inline-size: 100%;
  }
}

@layer utilities {
  .bottom-line {
    border-block-end: 4px solid currentColor;
  }

  .top-line {
    border-block-start: 4px solid currentColor;
  }

  .line--primary {
    border-color: theme("colors.primary-600");
  }
}
